@model BookstoreWebApp.Models.Book
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BookDetails</title>
</head>
<body>
    <div class="container">
        <div class="row Details Row">
            <div class="col-md-4">
                <img src="@Html.DisplayFor(model=>model.Photo)" class="portrait" alt="Picture of book">
            </div>
            <div class="Main col-md-4">
                <div class="row">
                    <div class="col-md-6">Title:</div>
                    <div class="col-md-6">@Html.DisplayFor(model => model.Title)</div>
                </div>
                <div class="row">
                    <div class="col-md-6">Author:</div>
                    @{
                        var autor = (Author)ViewData["Author"];
                    }
                    <div class="col-md-6">@autor.Name</div>
                </div>
                <div class="row">
                    <div class="col-md-6">Price:</div>
                    <div class="col-md-6">@Html.DisplayFor(model => model.Price) zł</div>
                </div>
            </div>
            <div class="divborder col-md-4">
                <div class="row">
                    <div class="col-md-6">Price:</div>
                    <div class="col-md-6">@Html.DisplayFor(model => model.Price) zł</div>
                </div>
                <div class="row top-buffer">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="button" class="btn cartbutton" onclick="AddToCart(@Model.Id)"/>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>

        <div class="row top-buffer">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-md-6">Description</div>

                </div>
                <div class="row">
                    <div class="col-md-6">@Html.DisplayFor(model => model.Description) zł</div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>

