@model BookstoreWebApp.Helpers.PaginatedList<BookstoreWebApp.Models.Book>

@{
    ViewBag.Title = "Books";
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

<p>
    <a asp-action="Index">Add book</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-action="Index">Back to full list</a>
        </p>
    </div>
</form>


<div class="container">
        <div class="row m-1">
            @foreach (var item in Model)
            {

                int id = item.Id;
                int trueId = id - 2;

                <div class="col-sm-6 col-md-4 col-lg-3 m-2">
                    <div class="card h-100 border-primary m-1">
                        <div class="card-header">@item.Title <br /> Author: @item.Author.Name</div>
                        <a asp-action="Details" asp-controller="Books" asp-route-id="@item.Id "><img class="card-img-extdk" src="@item.Photo"></a>
                        <div class="card-footer">
                            Price: @item.Price  <br />
                            <input type="button" value="AddToCart" class="btn cartbutton" />
                        </div>
                    </div>
                </div>

            }
        </div>

</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @nextDisabled">
    Next
</a>